@import url('https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu');

body {
  margin: 0;
  background-image: linear-gradient(to bottom, #87ceeb, #eeeeee);
  background-attachment: fixed;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Ubuntu', sans-serif;
}
#info h1 {
  margin: 1em auto 1em auto;
  font-size: 36pt;
  font-weight: bold;
}
#info #cloud {
  height: 18em;
  margin-bottom: 1em;
}
#info p {
  margin: 0.75em auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 14pt;
}
#info a {
  text-decoration: none;
  cursor: pointer;
}
#cflems a {
  color: #17769a;
}
#cflems a:hover {
  color: #0d4458;
}
a#geono_link {
  color: #347235;
  font-weight: bold;
}
a#geono_link:hover {
  color: #205e21;
}
a#scratch_link {
  color: #fb7700;
}
a#scratch_link:hover {
  color: #fb3800;
}
a#git_link {
  color: #42474c;
}
a#git_link:hover {
  color: #24292e;
}
a#gist_link {
  color: #a6abb0;
}
a#gist_link:hover {
  color: #888d92;
}
